venv/
__pycache__/
*.pyc

# Google Drive Credentials
app/credentials.json
app/token.json

# Local processing folders
input_files/
processed_files/
app/history.json

# Config file containing API keys
app/config.json

# Local project documentation and models
project_log.md
app/tessdata_best/
